<div class="clock">
    <p>{{dia}}</p>
    <p>{{fecha}}</p>
    <div class="hours">
        <div class="horas">
            <span class="mishoras">{{hora}}:{{minutos}}<span class="segundos">:{{segundos}}</span></span>
            <span class="ampm">{{ampm}}</span>
        </div> 
        
    </div>
    <div>
        
    </div>
    <span></span>
    <span></span>
   
    
</div>
