/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Bitter|Lexend+Giga&display=swap');
/* encabezados */
.header{
    font-family: 'Bitter', serif;
    font-size: 60px; 
    text-shadow: 2px,2px,2px,#000;
}
/* tamañano del formulario */
.Tmn{
    max-width: 40%;
    max-height: 30%;
}
.Tmn{
    position: absolute;
    top:55% ;
    left:40% ;
}