<div style="text-align:center" >
    <p class="header">
      ATTENDANCE CONTROL
    </p>
  
  </div>
  
  <app-reloj></app-reloj>
<div class="Tmn">
  <form>
    <div class="form-group">

      <input type="password" class="form-control" id="nmr" placeholder="Your Code">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">OK</button>
  </form>
</div>
