.Tmn-form{
    max-width: 40%;
    max-height: 30%;
}
.Tmn-form{
    position: absolute;
    top:20% ;
    left:40% ;
}
/* encabezados */
.header{
    font-family: 'Bitter', serif;
    font-size: 60px; 
    text-shadow: 2px,2px,2px,#000;
}