<div style="text-align:center" >
    <p class="header">
      ATTENDANCE CONTROL
    </p>
  
  </div>
<div class="Tmn-form"><form>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
  </form></div>
