/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Lexend Giga', sans-serif;
}
body{
    background: #c9c9c9;
}