.dashboard-Ast{
   margin-left: 0px;

}
.main-izq{
    position:absolute;
    top:20%;
    left: 5%;
}
.main-izq{
    background: #fff;
    min-height: 100px;
}
.main-der{
    background: #fff;
    width:900px;
    border-radius: 8px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
