<div class="dashboard-Ast container">
  <div class="row">
    <div class="col-sm">
      <div class="main-izq">
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/users/list']" ><i class="fas fa-user-tie"></i>&nbsp;Users</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/employe']"> <i class="fas fa-file-user"></i>&nbsp;Employe</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/permission']" ><i class="fad fa-id-card"></i>&nbsp;permission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/settings']"><i class="fas fa-tools"></i>&nbsp;Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a>
              </li>
            </ul>
      </div>
       
    </div>
    <div class="col-sm">
      <div class="main-der">
          <router-outlet></router-outlet>
      </div>

    </div>
  </div>
    
</div>