<!--The content below is only a placeholder and can be replaced.-->
<app-main></app-main>


<div>
  <router-outlet></router-outlet>
</div>
<div class="footer">

      Realizado por Gustavo Cacharuco-Todos los derechos reservados 2019 &copy; 
  
</div>

