@import url('https://fonts.googleapis.com/css?family=Bitter|Lexend+Giga&display=swap');

.header{
    font-family: 'Bitter', serif;
    font-size: 60px; 
    text-shadow: 2px,2px,2px,#000;
}
div{
    margin-top: 2%;
    }
.footer{
    position: absolute;
    top:95%;
    left: 20%;
}